# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are: 
### python, c, java

### Some of the commonly used libraries used by Data Scientists include:
### Numpy, Pandas, Matplotlib

| Data Science Tools | 
| --- |
| Jupyter Notebooks |
| Tableau |
| Scikit-learn |

In [17]:
print ('This a simple arithmetic expression to mutiply then add integers. (3*4)+5 ='
    )
print( (3*4)+5 )

This a simple arithmetic expression to mutiply then add integers. (3*4)+5 =
17

In [18]:
print ('This will convert 200 minutes to hours by diving by 60'
    )
print( 200/60 )

This will convert 200 minutes to hours by diving by 60
3.3333333333333335

### **Objectives:**
* Python
* C
* Java

## Author
###### K